[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.*"
numpy = "*"
matplotlib = "*"
tensorflow-cpu = "==2.13.*"
pillow = "==10.*"
tensorflow-hub = "*"
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
peewee = "*"

[dev-packages]

[requires]
python_version = "3.11"
